        <!-- menu lado direito -->
         <nav class="sidebar">
            <ul class="list-unstyled">
               <li><a asp-page="Index"><i class='fas fa-tachometer-alt'></i> Dashboard</a></li>
               <li><a asp-page="Users"><i class='fas fa-chalkboard-teacher'></i> Usuários</a></li>
               <li><a asp-page="Login"><i class='fas fa-sign-out-alt'></i> Sair</a></li>
            </ul>
         </nav> <!-- menu lado direito fim -->
