@page
@model Index
@{
    ViewData["Title"] = "Dashboard";
}

<div class="list-group-item">
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h2 class="display-4 titulo">Dashboard</h2>
        </div>
    </div>
    <hr>

</div>
